<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FH.//</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <div class="container-fluid" id="heading">
    <div class="row">
      <div class="col-3 col-lg-5" id="FHlogo">
        <svg width="80" height="80">
          <circle cx="40" cy="40" r="40" fill="black" />
          <text x="50%" y="50%" text-anchor="middle" fill="white" font-size="30px" font-family="Bodoni Moda"
            dy=".3em">FH.//</text>
          <defs>
            <style>
              @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,700;1,6..96,600&family=Libre+Bodoni:ital@1&display=swap');
            </style>
          </defs>
        </svg>
      </div>
      <div class="col-8 col-sm-7">
        <h1 id="siteName">F I T H U B .//</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <nav class="nav nav-justified">
      <a class="nav-item nav-link active" href="/yours">
        <h3>YOURS</h3>
      </a>
      <a class="nav-item nav-link" href="/top">
        <h3>TOP FITS</h3>
      </a>
      <a class="nav-item nav-link" href="/create">
        <h3>CREATE</h3>
      </a>
    </nav>
  </div>
  <div>

    {{{body}}}

  <footer><a class="text-center" id="LOGOUT" class="nav-item nav-link btn" role="button">
      <h3>LOGOUT</h3>
    </a></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script src="/js/logout.js"></script>
</body>

</html>