<div>
    <pre><h2 id="section-title"> C R E A T E   Y O U R   F I T </h2></pre>
</div>
<div>

    {{!-- TOPS --}}

    <div class="container my-2 py-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="text-center">
                    <h3 class="section-title">T O P S</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="carousel slide" id="topsCar">
            <div class="carousel-inner">
                <div class="piece-card text-center carousel-item active" data-id="1">
                    <h3>Human Made</h3>
                    <p>SS20</p>
                    <p>$88</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172107/HUMAN_MADE_f8i4ix.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="2">
                    <h3>Off-White</h3>
                    <p>FW23</p>
                    <p>$170</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172107/OFF-WHITE_jszdak.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="3">
                    <h3>Stussy</h3>
                    <p>SS21</p>
                    <p>$60</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172108/STUSSY_wnl7bt.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="4">
                    <h3>Hello Kitty</h3>
                    <p>SS19</p>
                    <p>$30</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172106/HELLO_KITTY_x0phkb.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="5">
                    <h3>Uniqlo</h3>
                    <p>SS21</p>
                    <p>$35</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172108/UNIQLO_wekdp5.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="6">
                    <h3>Sandro</h3>
                    <p>SS23</p>
                    <p>$200</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172108/SANDRO_c1c84t.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="7">
                    <h3>Chanel</h3>
                    <p>SS85</p>
                    <p>$8000</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698173110/CHANEL_cs8zn6.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#topsCar" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#topsCar" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    {{!-- BOTTOMS --}}

    <div class="container my-2 py-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="text-center">
                    <h3 class="section-title">B O T T O M S</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="carousel slide" id="bottomsCar">
            <div class="carousel-inner">
                <div class="piece-card text-center carousel-item active" data-id="8">
                    <h3>Denim Tears</h3>
                    <p>SS21</p>
                    <p>$295</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172038/Untitled_design_3_echjer.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="9">
                    <h3>Almas</h3>
                    <p>FW22</p>
                    <p>$105</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172040/Untitled_design_7_tmappu.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="10">
                    <h3>Akris</h3>
                    <p>FW23</p>
                    <p>$1290</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172039/Untitled_design_6_kapnlv.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="11">
                    <h3>Phillim Lim</h3>
                    <p>FW23</p>
                    <p>$475</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172040/Untitled_design_uyqwtf.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="12">
                    <h3>Carhartt</h3>
                    <p>FW22</p>
                    <p>$100</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172039/Untitled_design_4_gtcsow.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="13">
                    <h3>Balenciaga</h3>
                    <p>FW23</p>
                    <p>$1080</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172039/Untitled_design_5_i0mkrm.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="14">
                    <h3>Dickies</h3>
                    <p>$50</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172039/Untitled_design_2_jrksos.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#bottomsCar" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#bottomsCar" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    {{!-- SHOES --}}

    <div class="container my-2 py-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="text-center">
                    <h3 class="section-title">S H O E S</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="carousel slide" id="shoesCar">
            <div class="carousel-inner">
                <div class="piece-card text-center carousel-item active" data-id="15">
                    <h3>Jordan</h3>
                    <p>$180</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172071/Untitled_design_4_gmjxfd.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="16">
                    <h3>Commes Des Garcon</h3>
                    <p>$160</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172072/Untitled_design_fgaote.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="17">
                    <h3>Doc Martins</h3>
                    <p>$150</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172071/Untitled_design_1_sk6nnw.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="18">
                    <h3>Golf Le Fleur</h3>
                    <p>$305</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172072/Untitled_design_6_whj66a.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="19">
                    <h3>Suicoke</h3>
                    <p>$450</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172070/Untitled_design_2_uvbk7f.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="20">
                    <h3>Miu Miu</h3>
                    <p>$1080</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698175003/Untitled_design_uv2e74.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="21">
                    <h3>Prada</h3>
                    <p>$1790</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172071/Untitled_design_3_bsare2.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#shoesCar" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#shoesCar" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    {{!-- ACCESSORIES --}}

    <div class="container my-2 py-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="text-center">
                    <h3 class="section-title">A C C E S S O R I E S</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="carousel slide" id="accCar">
            <div class="carousel-inner">
                <div class="piece-card text-center carousel-item active" data-id="22">
                    <h3>Versace</h3>
                    <p>FW23</p>
                    <p>$372</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172020/VERSACE_i9ivcs.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="23">
                    <h3>Stella McCartney</h3>
                    <p>FW23</p>
                    <p>$320</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172020/STELLA_e0kfns.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="24">
                    <h3>Jacquemus</h3>
                    <p>FW22</p>
                    <p>$125</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172019/JACQ_u3ukyg.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="25">
                    <h3>Casio</h3>
                    <p>$60</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172019/CASIO_dwjpgq.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
                <div class="piece-card text-center carousel-item" data-id="26">
                    <h3>G-Shock</h3>
                    <p>$100</p>
                    <figure class="figure">
                        <img src="https://res.cloudinary.com/dfxr2mgqb/image/upload/v1698172019/G-SHOCK_lh8uze.png"
                            style="object-fit: cover; width: 50%;">
                    </figure>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#accCar" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#accCar" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!-- ___________ Outfit Name Input ______________ -->
<div class="col-6 mx-auto">
<div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg"> F I T N A M E </span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="fitName">
</div>
</div>
<!-- ___________ Slick Slider ______________ -->
<div class="text-center container-fluid">
    <div class="section-wrapper mt-3">
        <button type="button" id="generate" class="btn">
                <h3 class="text-light"> G E N E R A T E </h3>
            </button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./js/create.js"></script>
